.number_button {
    width: 110px;
    height: 70px;
    border-radius: 5px;
    border-width: 0px;
    margin: 1%;
    font-size: xx-large;
    color: #0072e3;
    background-color: rgb(240, 242, 248);
    /* font-family: Source Sans Pro,sans-serif; */
}