.sudoku-game {
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer-game {
    max-width: 400px;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #game {
      flex-direction: column;
    }
  
    #app {
      flex-direction: column;
    }
  
    /* #table-timer{
      width: 100%;
      aspect-ratio: 1/1;
    } */
  
    #timer {
      align-content: normal;
    }
  
    #timer-control {
      width: 100%;
      margin: 10px auto;
      justify-content: flex-end;
    }
  
    .number_buttons {
      max-width: 25px;
      max-height: 30px;
      aspect-ratio: 1/1;
      border-width: 0px;
      font-size: 30px;
      color: #0072e3;
      background-color: transparent;
      margin-top: 20px;
    }
  
    .number_buttons:hover {
      background-color: transparent;
    }
  }
  
  @media only screen and (max-width: 400px){
    .number_buttons {
      font-size: 20px;
    }
    .cell {
      font-size: 20px;
    }
  }