.sudoku-game {
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer-game {
    max-width: 400px;
    width: 100%;
    position: relative;
}

@media only screen and (max-width: 900px) {
    .sudoku-game {
      flex-direction: column;
    }
    /* #app {
      flex-direction: column;
    } */
  
    /* #table-timer{
      width: 100%;
      aspect-ratio: 1/1;
    } */
  
    #timer {
      align-content: normal;
    }
  
    .time-control {
      width: 100%;
      margin: 10px auto;
      justify-content: flex-end;
    }
  }
  
  @media only screen and (max-width: 400px){
    .number_button {
      font-size: 20px;
    }
    .cell {
      font-size: 20px;
    }
  }