.control-board {
    max-width: 390px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.control-buttons-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-game-button {
    max-width: 380px;
    width: 90%;
    height: 70px;
    margin-top: 10px;
    font-size: x-large;
    border-width: 0px;
    border-radius: 5px;
    background-color: #0072e3;
    color: white;
}

.new-game-button:hover {
    background-color: #0050a0;
    transition: 0.5s;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.number-button {
    width: 110px;
    height: 70px;
    border-radius: 5px;
    border-width: 0px;
    margin: 1%;
    font-size: xx-large;
    color: #0072e3;
    background-color: rgb(240, 242, 248);
    /* font-family: Source Sans Pro,sans-serif; */
}

.number-button:hover {
    background-color: rgb(213, 215, 220);
    transition: 0.2s;
}

.control-div {
    display: flex;
    flex-direction: column;
}

.control-button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-width: 3px;
    border-color: #ffffff00;
    margin: 20px 10px 10px 10px;
    background-color: rgb(240, 242, 248);
    color: #0072e3;
}

.round-button:hover {
    background-color: rgb(213, 215, 220);
    transition: 0.2s;
}

#undo-button {
    background-image: url(/public/images/undo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#erase-button {
    background-image: url(/public/images/eraser.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

#notes-button {
    background-image: url(/public/images/pencil.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.notesToggle {
    /* height: 20px;
    width: 30px; */
    border-radius: 40%;
    border-width: 0px;
    background-color: rgb(160, 162, 168);
    color: rgb(244, 245, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Find the position settings */
    /* position: absolute;
    top: -10px;
    right: -5px; */
}

@media only screen and (max-width: 900px) {

    .number-button {
        max-width: 25px;
        max-height: 30px;
        aspect-ratio: 1/1;
        border-width: 0px;
        font-size: 30px;
        color: #0072e3;
        background-color: transparent;
        margin-top: 20px;
    }

    .number-button:hover {
        background-color: transparent;
    }
}

@media only screen and (max-width: 400px) {
    .number-button {
        font-size: 20px;
    }
}